header{
        background-color:#ffa3ce ;
}
body {
  font-family: Arial, sans-serif;

}

#navbarSupportedContent{
    background-color:#ffa3ce ;
    color-scheme: #ffa3ce;
}
.fa-magnifying-glass{
    padding: 4px;
    min-width: 50px; /*độ rộng bé nhất của phần tử là 30px*/
    color:#ed4190;
    text-align: center; /*canh giữa cho cái icon nó đều*/
    background-color: #ffa3ce;
    cursor: pointer;
    font-size: 25px;
}
.fa-cart-shopping{
    padding: 4px;
    min-width: 30px; /*độ rộng bé nhất của phần tử là 30px*/
    color:#ed4190;
    text-align: center; /*canh giữa cho cái icon nó đều*/
    background-color:#ffa3ce;
    cursor: pointer;
    font-size: 25px;
}
.main-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
} 

.register-form{
  width: 400px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 10px;
  box-shadow: 0 20px 70px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  background-color: #ffffff;
  max-width: 400px;  /* Hoặc 300px nếu muốn nhỏ hơn nữa */
  margin: 50px auto; /* Căn giữa khối */
}

.login-form {
  width: 450px;
  padding: 50px;
  padding-bottom: 10px;
  box-shadow: 0 20px 70px rgba(0, 0, 0, 0.1);
  padding-bottom: 10px;
  border-radius: 20px;
  background-color: #ffffff;
}


.text-center{
  height: 10px;
  font-family:'Quicksand', sans-serif ;
  color: #ec3087;
  font-weight: 200;
  border: #ffa3ce;
  border-radius: 20px;
  /*background-color: #ffb5e0;*/
  
}

.login-button{
  width: 100%;
  background: #ff69b4;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;

}

.login-button :hover {
  background: #ff85c1;
}


.o input{
  align-items: center;
  margin: 30px 0px;
  width: 300px;
  padding: 10px;
  margin-bottom: 5px; /* khoảng cách giữa các ô */
  border-radius: 10px;
}
